{% extends 'base.html.twig' %}

{% block title %}Admin Controller{% endblock %}

{% block body %}
    <h2 class="my-5 text-light bg-dark ">Listes des Agences</h2>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID Agence</th>
                <th scope="col">Nom </th>
                <th scope="col">Telegence</th>
                <th scope="col">AdresseVille</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
       {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.nom }}</td>
                <td>{{ agence.telegence }}</td>
                <td>{{ agence.adresseVille }}</td>
                <td class="d-flex">
                    <a href="{{ path('agence_show', {'id': agence.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('agence_edit', {'id': agence.id}) }}" class="btn btn-info">edit</a>
                    {{ include('agence/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune Agences</td>
            </tr>
        {% endfor %}
    </table>

    <h2 class="my-5 text-dark bg-light" >Listes des Voitures</h2>
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID Voiture</th>
                <th scope="col">Marque </th>
                <th scope="col">Couleur</th>
                <th scope="col">Description</th>
                <th scope="col">Nombre de place</th>
                <th scope="col">Nom agence</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    
        <tbody>
            {% for voiture in voitures %}
            <tr>
                <td>#{{ voiture.id }}</td>
                <td>{{ voiture.Marque }}</td>
                <td>{{ voiture.couleur }}</td>
                <td>{{ voiture.description }}</td>
                <td>{{ voiture.nbPlace }}</td>
                <td>{{ voiture.nomAgence }}</td>
                <td class="d-flex">
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="btn btn-dark">edit</a>
                    {{ include('voiture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
